body{
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
#logo{
    width: auto;
    height: 3em;
    border: none;
    display: flex;
    padding: 20px 0 0 0;
}
.header{
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    height: 8vh;
    width: auto;
    
    background-color: #1F2937;
    border-left: 150px solid #1F2937; 
    border-right: 150px solid #1F2937;
    border-bottom: 50px solid transparent;

}
ul{
    list-style-type: none;
}
li{
    display: inline-block;
    margin-right: 16px;
}
a{
    text-decoration: none;
    color: #E5E7EB;
}

.bodyone{
    background-color: #1F2937;
    border-left: 150px solid #1F2937; 
    border-right: 150px solid #1F2937;
    border-bottom: 100px solid #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
}
h3{
    color: #F9FAF8;
    font-size: 36px;
    font-weight: bold;
}
.left{
    max-width: 550px;
}
button{
    border: none;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 12px 32px;
    color: #F9FAF8;
    font-weight: 800;
}
.rightimg{
    max-width: 300px;
    height: auto;
    border-top: 36px solid transparent;
    border-right: 16px solid #1F2937;
    border-left: 0 solid transparent;
    border-bottom: 0 solid transparent;
    border-radius: 0%;
}
img{
    height: 300px;
    max-width: 300px;
    border-radius: 10%;
    border-top: 32px solid transparent;
    border: 5px solid #3882F6;
}
.container{    
display: flex;
flex-direction: row;
justify-content: center;
gap: 24px;
border-top: 32px solid transparent;
}
.bodytwo{
    text-align: center;
    color: #1F2937;
    border-top: 32px solid transparent;
}
.text{
    display: flex;
    justify-content: center;
    max-width: 300px;

}
.quote{
    border-top: 50px solid transparent;
    text-align: justify;
    display: flex;
    justify-content: center;
}
blockquote{

    width: 600px;
    align-content: center;
    
}
.blockquote__autor{
    
    font-weight: bold;
}
.blockquote__text{
    font-size: 24px ;
    font-style: italic;
    color: #1F2937;
}
.signupbaner{
    display: flex;
    justify-content: center;
    height: 200px;
    width: auto;
    border-left: 150px solid #F9FAF8; 
    border-right: 150px solid #F9FAF8;
    background-color: #3882F6;
    border-radius: 10px;
    border: 150px solid #F9FAF8;
}
.signuptext{
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 420px;
    color: #F9FAF8;
    
}
.buttonbaner{
    border: 3px solid #F9FAF8;
    font-weight: bold;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 2em;
    color: #c0c0c0;
}